<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Filebrowser - Create account</title>
    <link rel="stylesheet" th:href="@{/css/security/loginAndRegister.css}"></link>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"></link>
</head>
<body>
<div class="centered blue-shine-background">
    <form class="register-form" th:action="@{/auth/register}" method="post">
        <div><label class="form-label">E-mail: <input class="form-control form-control-transparent" type="text" name="email"/> </label></div>
        <div><label class="form-label">User Name: <input class="form-control form-control-transparent" type="text" name="username"/> </label></div>
        <div><label class="form-label">Password: <input class="form-control form-control-transparent" type="password" name="password"/> </label></div>
        <div class="auth-error" th:if="${registerError != null}" th:text="${registerError}">
        </div>
        <div><input class="btn btn-success" type="submit" value="Create Account"/></div>
        <div>
            <a th:href="@{/auth/login}">Do you already have an account? Sign In.</a>
        </div>
    </form>
</div>
</body>
</html>